*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    max-width: 1440px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    background: #FFFFFF;
}
.header {
    margin: 0 auto;
    display: flex;
    width: 1337.28px;
    height: 51px;
    padding: 0;
    margin-top: 24px;
    margin-left: 42.7px;
}
.header__logo {
    display: flex;
    width: 166px;
    height: 51px;
    margin-right: 258px;
}
.header__menu {
    display: flex;
    align-items: center;
    /*padding-left: 258px;*/
    top: 2px;
}
.menu__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.menu__link:nth-child(2) {
    padding-left: 63px;
    padding-right: 25px;
}
.menu__link:nth-child(4) {
    padding-left: 45px;
    padding-right: 46px;
}
.menu__link:nth-child(5) {
   padding-right: 221px;
}
/*.menu__link:hover {*/
/*    color: #e51937;*/
/*    border-bottom: 2px solid #e51937;*/
/*}*/
.menu__link__active {
    color: #e51937;
    border-bottom: 2px solid #e51937;
}
.header__button {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    padding-top: 17px;
    padding-left: 30px;
}
.header__burger {
    width: 24px;
    height: 15px;
    padding-top: 13px;
    padding-left: 31px;
}
.section-first {
    max-width: 1440px;
    height: 594px;
    background: url("image/Tesla-Wordmark-Red.png");
    background-position: center;
}
.section-first__title {
    width: 100%;
    padding-top: 58px;
    font-weight: 600;
    font-size: 90px;
    text-align: center;
    color: #000000;

}
.section-first__subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    margin-top: -10px;
    color: #000000;
}
.content {
    padding-top: 26px;
    padding-left: 199px;

}
.about {
    display: flex;
}
.about__time {
    display: flex;
    padding-left: 316px;
    padding-top: 17px;
}
.time__foto {
    padding-top: 11px;
}
.time__number {
    display: flex;
    padding-left: 10px;
    padding-top: 6px;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
}
.time__text {
    padding-top: 21px;
    padding-left: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.time__desc {
    font-size: 12px;
    padding-top: 47px;
    margin-left: -94px;
}

.about__speed {
    display: flex;
    padding-left: 94px;
    padding-top: 23px;
}
.speed__foto {
    padding-top: 9px;
    height: 64px;
}
.speed__number {
    padding-left: 8px;
    font-weight: 600;
    font-size: 35px;
    color: #000000;
}
.speed__text {
    padding-top: 14px;
    padding-left: 7px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}
.speed__desc {
    padding-top: 41px;
    margin-left: -98px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.test {
    display: flex;
    padding-left: 796px;
    margin-top: -45px;
}
.button {
    width: 160px;
    height: 40px;
    margin-left: 959px;
    margin-top: -38px;
    border: 2px solid #E51937;
    box-sizing: border-box;
}
.button__text {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #E51937;
    background: transparent;
    padding-top: 9px;
    padding-left: 41.5px;
    letter-spacing: .8px;
}
.section-first__arrow {
    width: 28px;
    height: 14px;
    padding-left: 703px;
    padding-top: 40px;
}

/*Style section-second*/
.section-second {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("image/2013-tesla-model-s-cockpit.png");
    background-position: 0 285px;
    background-repeat: no-repeat;
}
.section-second__title {
    margin-top: 295px;
    margin-left: 80px;
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    color: #E51937;
}
.aside {
    width: 440px;
    height: 900px;
    margin-left: 1000px;
    margin-top: -151px;
    padding-top: 52px;
    padding-left: 47px;
    background: #E51937;
}
.aside__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    padding-left: 5px;
    color: #FFFFFF;
}
.aside__content {
    width: 316px;
    height: 206px;
    padding-top: 11px;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 67px;
    padding-left: 5px;
    color: #FFFFFF;
}
.aside__it-about {
    width: 269px;
    height: 276px;
}
.it-about__display {
    display: flex;
    width: 187px;
    height: 65px;
    padding-left: 5px;
}
.display__foto {
    padding-top: 10px;
}
.display__number {
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    padding-left: 18px;
    color: #FFFFFF;
}
.display__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding-top: 12px;
    padding-left: 10px;
    color: #FFFFFF;
}
.display__desc {
    font-size: 12px;
    line-height: 15px;
    padding-top: 40px;
    margin-left: -132px;
    color: #FFFFFF;
}
.it-about__wifi {
    display: flex;
    height: 71px;
    padding-top: 34px;
    padding-bottom: 95px;
}
.wifi__foto {
    width: 269px;
    height: 71px;
}
.it-about__capaciti {
    display: flex;
    width: 202px;
    height: 66px;
}
.capaciti__foto {
    padding-top: 13px;
    padding-left: 5px;
}
.capaciti__number {
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    padding-left: 24px;
    color: #FFFFFF;
}
.capaciti__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding-top: 15px;
    padding-left: 10px;
    color: #FFFFFF;
}
.capaciti__desc {
    font-size: 12px;
    line-height: 15px;
    padding-top: 42px;
    margin-left: -142px;
    color: #FFFFFF;
}
.aside__test {
    margin-top: 168px;
    margin-left: 2px;
}
.aside__button {
    width: 160px;
    height: 40px;
    margin-left: 188px;
    margin-top: -39px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}
.aside__button button {
    color: #FFFFFF;
}
.section-third {
    display: flex;
    max-width: 1488px;
    max-height: 900px;
    background: url("image/Model S.png");
    background-repeat: no-repeat;
    background-position: 0 145px;
    background-position-x: 647px;
}
.aside-second {
    margin-left: -1050px;
    padding-bottom: 50px;
    width: 440px;
    height: 100%;
    background: #E51937;
}
.aside-second__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    padding-top: 53px;
    padding-left: 56px;
    color: #FFFFFF;
}
.aside-second__content {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    padding-top: 11px;
    padding-left: 56px;
    width: 370px;
    color: #FFFFFF;
}
.subtitle__text {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    padding-top: 55px;
    padding-left: 56px;
    color: #FFFFFF;
}
.aside-second__reting {
    display: flex;
    padding-left: 57px;
    padding-top: 28px;
}
.reting__text {
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text__link:nth-child(2) {
    padding-top: 17px;
    padding-bottom: 15px;
}
.text__link:nth-child(3) {
    display: flex;
    padding-bottom: 15px;
}
.text__link:nth-child(4) {
    padding-bottom: 17px;
}

.star__link:nth-child(2) {
    padding-top: 8px;
    padding-bottom: 9px;
}
.star__link:nth-child(4) {
    padding-top: 8px;
    padding-bottom: 9px;
}
.text__link__title {
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    padding-top: 7px;
    padding-left: 2px;
    color: #FFFFFF;
}
.reting__star {
    margin-left: 29px;
    width: 160px;
    justify-content: space-between;
}
.star__foto {
    width: 25px;
}
.star__list,
.text__list {
    list-style: none;
}
.aside-second__five {
    display: flex;
    padding-left: 64px;
    padding-top: 98px;
}
.aside-second__test {
    display: flex;
    padding-left: 37px;
    padding-top: 55px;
}
.aside-second__button {
    width: 160px;
    height: 40px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: 225px;
    margin-top: -36px;
}
.aside-second__button button {
    padding-top: 12px;
    color: #FFFFFF;
}
.section-third__car {
    padding-top: 172px;
}
.car__foto {
    position: relative;
    left: 343px;
}
/*Адаптивное отображение*/
@media (max-width: 1024px) {
    .header {
        width: 100%;
    }
    .header__menu,
    .header__button {
        display: none;
    }
    .header__logo {
        margin-right: 200px;
    }
    .header__burger {
        padding-left: 518px;
        padding-top: 24px;
    }
    .section-first {
        background-size: 1101px;
    }
    .content {
        padding-left: 10px;
        padding-top: 90px;
    }
    .about__time {
        padding-left: 70px;
    }
    .test {
        padding-left: 550px;
    }
    .button {
        margin-left: 720px;
    }
    .section-first__arrow {
        padding-left: 460px;
    }
    .aside {
        margin-left: 574px;
        height: 100%;
        margin-top: 0;
    }
    .section-second {
        background-position: 0 475px;
        background-size: 95%;
    }
    .section-second__title {
        margin-bottom: -100px;
    }
    .aside__test {
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .aside__button {
        margin-top: -60px;
        margin-bottom: 30px;
    }
    .section-third {
        background-size: 555px;
        background-position: 450px 145px;
    }
    .aside-second {
        width: 40%;
    }
    .car__foto {
        width: 70%;
        left: 291px;
        top: 155px;
    }
}
@media (max-width: 960px) {
    .section-second {
        background-position: 0 483px;
    }
    .aside {
        margin-left: 581px;
}

@media (max-width: 768px) {
    body {
        width: 100%;
    }
    .header {
        width: 100%;
        margin-top: 14px;
        margin-left: 10px;
    }
    .header__logo {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 0;
    }
    .header__burger {
        padding-left: 518px;
        padding-top: 24px;
    }
    .header__burger img {
        width: 36px;
        height: 22px;
    }
    .section-first {
        width: 100%;
        background-size: 845px;
        background-repeat: no-repeat;
        background-position: -14px 186px;
        margin-bottom: 150px;
    }
    .section-first__title {
        width: 768px;
        padding-top: 90px;
    }
    .section-first__subtitle {
        margin-left: 16px;
        /*font-size: 12px;*/
        margin-top: -9px;
    }
    .content {
        width: 672px;
        padding-left: 0;
        margin-top: -24px;
    }
    .content__img {
        width: 701.6px;
        height: 323.64px;
        margin-top: 88px;
        margin-left: 34px;
    }
    .about {
        margin-top: 17px;
        padding-left: 76px;
    }
     .time__foto {
        width: 74.92px;
        height: 86.16px;
    }
    .time__number {
        font-size: 50px;
        padding-left: 15px;
        padding-top: 10px;
    }
    .time__text {
        font-size: 20px;
        padding-left: 10px;
        padding-top: 23px;
    }
    .time__desc {
        margin-left: -118px;
        margin-top: 13px;
    }
    .speed__foto {
        width: 102px;
        height: 84px;
    }
    .speed__number {
        font-size: 50px;
        margin-left: -20px;
        margin-top: -7px;
    }
    .speed__text {
        font-size: 20px;
        padding-left: 10px;
        padding-top: 15px;
    }
    .speed__desc {
        margin-left: -128px;
        margin-top: 12px;
    }
    .test {
        padding-top: 109px;
        background: url("image/Test drive 1 (red).png") no-repeat;
        margin-top: 59px;
        margin-left: 173px;
    }
    .test__foto {
        display: none;
    }
    .button {
        margin-left: 371px;
        margin-top: -120px;
        width: 220.84px;
        height: 55.21px;
        background: #E51937;
    }
    .button__text {
        font-size: 16px;
        text-transform: uppercase;
        padding-top: 18px;
        padding-left: 65px;
        color: #FFFFFF

    }
    .section-first__arrow {
        padding-left: 368px;
        padding-top: 60px;

    }
    .section-second {
        background: url("image/2013-tesla-model-s-cockpit (1).png") no-repeat;
        background-position-y: 260px;
    }
    .section-second__title {
        /*margin-top: 308px;*/
        margin-left: 435px;
        width: 767px;
        height: 530px;
    }
    .aside {
        display: flex;
        flex-direction: column;
        margin-top: 9px;
        margin-left: 0;
        width: 767px;
        height: 485px;
        padding-top: 55px;
        padding-left: 30px;
    }
    .aside__content {
        padding-top: 21px;
        padding-left: 4px;
    }
    .aside__it-about {
        padding-left: 419px;
        margin-top: -308px;
    }
    .it-about__wifi {
        padding-top: 21px;
        padding-left: 1px;
        padding-bottom: 90px;
    }
    .aside__test {
        margin-top: 60px;
        margin-left: 123px;
    }

    .aside__test img {
        display: flex;
        width: 239px;
    }
    .aside__button {
        width: 220.84px;
        height: 55.21px;
        border: 3px solid #FFFFFF;
        margin-top: -70px;
        margin-left: 363px;
    }
    .button__text {
        padding-left: 62px;
    }
    .section-third {
        flex-direction: column;
        width: 100%;
        background-position: 94px 73px;
        background-size: 586px;
    }
    .aside-second {
        margin-left: 0;
        padding-bottom: 72px;
        /*margin-top: 540px;*/
        width: 768px;
        height: 487px;
        /*display: flex;*/
    }
    .aside-second__title {
        width: 500px;
        padding-top: 63px;
        padding-left: 34px;
    }
    .aside-second__content {
        padding-top: 14px;
        padding-left: 34px;
        width: 350px;
    }
    .aside-second__subtitle {
        padding-left: 365px;
        margin-top: -271px;
    }
    .aside-second__reting {
        padding-left: 423px;
    }
    .aside-second__five {
        display: none;
    }
    .aside-second__test {
        /*margin-bottom: 131px;*/
        padding-top: 0;
        /*padding-bottom: 55px;*/
    }
    .aside-second__test img {
        display: flex;
        width: 327px;
        padding-top: 82px;
        padding-left: 121px;
    }
    .aside-second__button {
        /*margin-top: -233px;*/
        margin-left: 391px;
        width: 220px;
        height: 55px;
        border: 3px solid #FFFFFF;
    }

    .section-third__car {
        background: url("image/Car frame group (3).png") no-repeat;
        background-position-y: 79px;
        padding-top: 539px;
    }
    .car__foto {
        display: none;
    }
}
@media (max-width: 375px) {
    body {
        width: 375px;
    }
    .header {
        max-width: 355px;
        height: 48px;
        margin-left: -4px;
        margin-top: 17px;
    }
    .header__logo {
        width: 138px;
        height: 42px;
    }
    .header__burger {
        padding-left: 192px;
        padding-top: 20px;
    }
    .header__burger img {
        width: 24px;
        height: 15px;
    }
    .section-first {
        width: 355px;
        background-size: 420px;
        background-position: -16px 170px;
        margin-bottom: 50px;
    }
    .section-first__title {
        width: 375px;
        padding-top: 90px;
        font-size: 50px;
        margin-top: -56px;
    }
    .section-first__subtitle {
        margin-left: 21px;
        font-size: 10px;
        margin-top: -2px;
    }
    .content__img {
        width: 357px;
        height: 166px;
        margin-top: 48px;
        margin-left: 9px
    }
    .about {
        padding-left: 0;
    }
    .about__time {
        padding-left: 40px;
        padding-top: 0;
    }
    .time__foto {
        width: 45.92px;
        height: 50.16px;
    }
    .time__number {
        font-size: 27px;
        padding-left: 10px;
        margin-top: -12px;
    }
    .time__text {
        font-size: 15px;
        padding-left: 9px;
        padding-top: 12px;
    }
    .time__desc {
        font-size: 10px;
        margin-left: -75px;
        margin-top: -11px;
    }
    .about__speed {
        padding-top: 0;
        padding-left: 36px;
    }
    .speed__foto {
        width: 55px;
        height: 52px;
    }
    .speed__number {
        font-size: 27px;
        margin-left: -10px;
        margin-top: 3px;
    }
    .speed__text {
        font-size: 15px;
        padding-left: 8px;
        padding-top: 15px;
    }
    .speed__desc {
        font-size: 10px;
        line-height: 12px;
        margin-left: -77px;
        margin-top: -5px;
    }
    .test {
        padding-top: 109px;
        background: url("image/Test drive 1 (red 2).png") no-repeat;
        margin-top: 48px;
        margin-left: 36px;
    }
    .button {
        margin-left: 179px;
        margin-top: -117px;
        width: 160px;
        height: 40px;
        background: #E51937;
    }
    .button__text {
        font-size: 13px;
        text-transform: uppercase;
        padding-top: 10px;
        padding-left: 42px;
    }
    .section-first__arrow {
        padding-left: 172px;
        padding-top: 30px;
    }
    .section-second {
        background: url("image/2013-tesla-model-s-cockpit (2).png") no-repeat;
        background-position-y: -15px;
        padding-top: 300px;
    }
    .title__text {
        display: none;
    }
    .aside {
        width: 100%;
        height: 305px;
        padding-top: 20px;
        padding-left: 21px;
    }
    .aside__content {
        padding-top: 8px;
        padding-left: 5px;
    }
    .aside__it-about {
        display: none;
    }
    .aside__test {
        display: none;
    }
    .aside__button {
        display: none;
    }
    .section-third {
        width: 100%;
        height: 400px;
        background-position: 2px 49px;
        background-size: 393px;
    }
    .aside-second {
        width: 100%;
        height: 304px;
    }
    .aside-second__title {
        width: 100%;
        padding-top: 19px;
        padding-left: 31px;
    }
    .aside-second__content {
        padding-top: 12px;
        padding-left: 31px;
        width: 345px;
        line-height: 18px;
    }
    .aside-second__subtitle {
        display: none;
    }
    .aside-second__reting {
        display: none;
    }
    .aside-second__test {
        display: none;
    }
    .aside-second__test img {
        display: none;
    }
    .aside-second__button {
        display: none;
    }
    .section-third__car {
        background: url("image/Group 18.png") no-repeat;
        background-position-y: 57px;
        padding-top: 294px;
    }
}
